<div class="pub-list-item" style="margin-bottom: 0.8rem; margin-left: 0px; float:left; display:inline-block;" itemscope itemtype="http://schema.org/CreativeWork">
  <div style="float: left; width: 15%; margin-right: 10px; margin-top: 5px;">
    <a href="{{ .Permalink }}">
      <img src="{{ "/img/" | relURL }}{{ .Params.image_preview }}" width=200 class="paper_thumbnail">
    </a>
  </div>
  <div style="float: left; width: 79%;">
  <i class="fa fa-file-text-o pub-icon" aria-hidden="true"></i>
  <span itemprop="author">
    {{ with .Params.authors }}
      {{- delimit . ", " | markdownify -}}
    {{- end -}}
  </span>.
  <a href="{{ .Permalink }}" itemprop="name">{{ .Title }}</a>.
  {{ if .Params.publication_short }}
    {{- .Params.publication_short | markdownify -}},
  {{ else if .Params.publication }}
    {{- .Params.publication | markdownify -}},
  {{ end }}
  {{- .Date.Format "2006" -}}.&nbsp;<font color=#FF0000>{{ .Params.add_note }}</font>
  <p>{{ partial "publication_links" (dict "content" . "is_list" 1) }}</p>
  </div>
</div>
